* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: darkgray;
}

main {
  background-color: darkgrey;
  margin: 2vh 0;
}

.container {
  margin: 0 auto;
  height: 1000px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 18px 14px 16px -8px #464544;
          box-shadow: 18px 14px 16px -8px #464544;
}

#left_column {
  color: black;
  background-color: #d5cdb7;
  height: 1000px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#left_column .vertical_decoration {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#left_column .vertical_decoration .vertical_hr {
  border: none;
  height: 100%;
  width: 4px;
  background-color: #b38000;
  margin-right: 5px;
}
#left_column .left_column_content {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#left_column .left_column_content .face {
  margin: 35px auto 0;
  border: 2px solid #b38000;
  width: 55%;
  border-radius: 50%;
}
#left_column .left_column_content .name_info {
  width: 100%;
  margin-top: 20px;
}
#left_column .left_column_content .name_info h1 {
  text-align: center;
  margin: 0 auto;
  line-height: 0.8em;
  font-size: 1.4em;
  font-weight: 400;
}
#left_column .left_column_content .name_info hr {
  border: none;
  width: 80%;
  margin: 10px auto 0;
  background-color: #b38000;
  height: 1px;
}
#left_column .left_column_content .name_info p {
  margin: 10px auto 0;
  width: 85%;
  font-size: 0.9em;
  text-align: center;
}
#left_column .left_column_content .skill_hobby {
  padding-left: 20px;
  margin: 50px 0;
}
#left_column .left_column_content .skill_hobby .skill_hobby_border_top {
  position: relative;
  height: 20px;
  width: 20px;
  border-top: 2px solid #b38000;
  border-left: 2px solid #b38000;
  top: 10px;
  right: 10px;
}
#left_column .left_column_content .skill_hobby h3 {
  font-size: 1.1em;
  font-weight: 400;
  padding-bottom: 10px;
}
#left_column .left_column_content .skill_hobby .soft_skill {
  margin-bottom: 20px;
}
#left_column .left_column_content .skill_hobby .soft_skill ul {
  padding-left: 20px;
}
#left_column .left_column_content .skill_hobby .soft_skill ul li {
  font-size: 0.95em;
}
#left_column .left_column_content .skill_hobby .soft_skill ul li span {
  margin-left: -6px;
}
#left_column .left_column_content .skill_hobby .soft_skill ul li::marker {
  font-size: 0.85em;
}
#left_column .left_column_content .skill_hobby .hobby h4 {
  font-size: 0.9em;
  font-weight: 400;
}
#left_column .left_column_content .skill_hobby .hobby .hobby_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
#left_column .left_column_content .skill_hobby .hobby .hobby_flex img {
  width: 25px;
  margin-right: 7px;
}
#left_column .left_column_content .skill_hobby .hobby .hobby_flex p {
  font-size: 1em;
  font-weight: 300;
  color: #5a5a5a;
}
#left_column .left_column_content .skill_hobby .skill_hobby_border_bottom {
  position: relative;
  height: 20px;
  width: 20px;
  border-bottom: 2px solid #b38000;
  border-right: 2px solid #b38000;
  bottom: 22px;
  left: 210px;
}
#left_column .left_column_content .contact {
  margin-top: 15px;
  padding-left: 20px;
}
#left_column .left_column_content .contact h2 {
  margin-bottom: 10px;
  color: #b27f00;
  font-weight: 400;
  font-size: 1.3em;
}
#left_column .left_column_content .contact ul {
  list-style-type: none;
  font-size: 0.8em;
  padding-left: 5px;
}
#left_column .left_column_content .contact ul svg {
  margin-right: 5px;
}
#left_column .left_column_content .contact ul a {
  text-decoration: none;
  color: black;
}
#left_column .left_column_content .contact ul a:hover {
  color: #b38000;
}

#right_column {
  background-color: #f0f0f0;
  color: black;
  height: 1000px;
  width: 65%;
}/*# sourceMappingURL=style.css.map */